In [12]:
import pandas as pd

In [13]:
wildfire_csv = "NOAA_csvs/wildfires_2010_2019.csv"
census_csv = "census_data_ca_county.csv"

In [14]:
wildfire_df = pd.read_csv(wildfire_csv)
census_df = pd.read_csv(census_csv)

In [37]:
#wildfire_df["CZ_FIPS"]
merged_df = pd.merge(wildfire_df, census_df, on="County")
merged_df
print(sorted(merged_df))

['ABSOLUTE_ROWNUMBER', 'BEGIN_AZIMUTH', 'BEGIN_DATE', 'BEGIN_LAT', 'BEGIN_LOCATION', 'BEGIN_LON', 'BEGIN_RANGE', 'BEGIN_TIME', 'CZ_NAME_STR', 'CZ_TIMEZONE', 'CZ_TYPE', 'County', 'DAMAGE_CROPS_NUM', 'DAMAGE_PROPERTY_NUM', 'DEATHS_DIRECT', 'DEATHS_INDIRECT', 'END_AZIMUTH', 'END_LAT', 'END_LOCATION', 'END_LON', 'END_RANGE', 'EPISODE_ID', 'EPISODE_NARRATIVE', 'EVENT_ID', 'EVENT_NARRATIVE', 'EVENT_TYPE', 'FLOOD_CAUSE', 'INJURIES_DIRECT', 'INJURIES_INDIRECT', 'MAGNITUDE', 'MAGNITUDE_TYPE', 'Population', 'Poverty Count', 'Poverty Rate', 'SOURCE', 'STATE_ABBR', 'TOR_F_SCALE', 'TOR_LENGTH', 'TOR_WIDTH', 'WFO']

In [38]:
merged_df.head()

,EVENT_ID,CZ_NAME_STR,BEGIN_LOCATION,BEGIN_DATE,BEGIN_TIME,EVENT_TYPE,MAGNITUDE,TOR_F_SCALE,DEATHS_DIRECT,INJURIES_DIRECT,...,BEGIN_LAT,BEGIN_LON,END_LAT,END_LON,EVENT_NARRATIVE,EPISODE_NARRATIVE,ABSOLUTE_ROWNUMBER,Population,Poverty Count,Poverty Rate
0,250167,SAN DIEGO COUNTY COASTAL AREAS (ZONE),,07/13/2010,830,Wildfire,,,0,0,...,,,,,NaN,The Camp Pendleton Fire began at approximately...,2,18290.0,2286.0,12.498633
1,481199,SAN DIEGO COUNTY COASTAL AREAS (ZONE),,10/05/2013,2015,Wildfire,,,0,0,...,,,,,NaN,The De Luz fire began on October 5th around 20...,107,18290.0,2286.0,12.498633
2,522980,SAN DIEGO COUNTY COASTAL AREAS (ZONE),,05/14/2014,930,Wildfire,,,0,0,...,,,,,"The Poinsettia Fire started on the 14th, aroun...","Mid-May was marked by a period of very hot, dr...",119,18290.0,2286.0,12.498633
3,522919,SAN DIEGO COUNTY COASTAL AREAS (ZONE),,05/14/2014,1112,Wildfire,,,0,0,...,,,,,The River Fire broke out at 1112 PST on the 14...,"Mid-May was marked by a period of very hot, dr...",120,18290.0,2286.0,12.498633
4,522942,SAN DIEGO COUNTY COASTAL AREAS (ZONE),,05/15/2014,1345,Wildfire,,,0,0,...,,,,,The Pulgas Fire broke out around 1345 PST on t...,"Mid-May was marked by a period of very hot, dr...",123,18290.0,2286.0,12.498633

In [44]:
merged_df.drop(['ABSOLUTE_ROWNUMBER', 'BEGIN_AZIMUTH', 'BEGIN_LAT', 'BEGIN_LOCATION', 'BEGIN_LON', 'BEGIN_RANGE', 'BEGIN_TIME',
               'CZ_TIMEZONE', 'CZ_TYPE', 'DAMAGE_CROPS_NUM', 'DAMAGE_PROPERTY_NUM', 'DEATHS_DIRECT', 'DEATHS_INDIRECT', 
                'END_AZIMUTH', 'END_LAT', 'END_LOCATION', 'END_LON', 'END_RANGE', 'EPISODE_ID', 'EVENT_ID', 'EVENT_TYPE', 
                'FLOOD_CAUSE', 'INJURIES_DIRECT', 'INJURIES_INDIRECT', 'MAGNITUDE', 'MAGNITUDE_TYPE', 'TOR_LENGTH', 'TOR_WIDTH',
               'TOR_F_SCALE', 'STATE_ABBR', 'WFO', 'SOURCE'], axis=1)

,CZ_NAME_STR,BEGIN_DATE,County,EVENT_NARRATIVE,EPISODE_NARRATIVE,Population,Poverty Count,Poverty Rate
0,SAN DIEGO COUNTY COASTAL AREAS (ZONE),07/13/2010,43,NaN,The Camp Pendleton Fire began at approximately...,18290.0,2286.0,12.498633
1,SAN DIEGO COUNTY COASTAL AREAS (ZONE),10/05/2013,43,NaN,The De Luz fire began on October 5th around 20...,18290.0,2286.0,12.498633
2,SAN DIEGO COUNTY COASTAL AREAS (ZONE),05/14/2014,43,"The Poinsettia Fire started on the 14th, aroun...","Mid-May was marked by a period of very hot, dr...",18290.0,2286.0,12.498633
3,SAN DIEGO COUNTY COASTAL AREAS (ZONE),05/14/2014,43,The River Fire broke out at 1112 PST on the 14...,"Mid-May was marked by a period of very hot, dr...",18290.0,2286.0,12.498633
4,SAN DIEGO COUNTY COASTAL AREAS (ZONE),05/15/2014,43,The Pulgas Fire broke out around 1345 PST on t...,"Mid-May was marked by a period of very hot, dr...",18290.0,2286.0,12.498633
...,...,...,...,...,...,...,...,...
169,SHASTA LAKE/NORTH SHASTA COUNTY (ZONE),09/05/2018,13,"The Delta Fire began on September 5, 2018, nea...",A large fire developed during an extended peri...,1024809.0,91142.0,8.893560
170,LOS ANGELES COUNTY COASTS INCLUDING DOWNTOWN L...,11/08/2018,41,"The Woolsey Fire burned 96,949 across in Ventu...","The Woolsey Fire burned 96,949 acres in Ventur...",248601.0,16796.0,6.756208
171,NORTHERN SAN JOAQUIN VALLEY (ZONE),06/25/2019,19,"The Rock Fire started Tuesday night June 25th,...",A broad trough passing over the Pacific Northw...,908830.0,200288.0,22.038005
172,LASSEN/EASTERN PLUMAS/EASTERN SIERRA (ZONE),08/24/2019,71,The Long Valley Fire started near the Red Rock...,"Warm temperatures, along with dry conditions, ...",2005287.0,291020.0,14.512636
173,LASSEN/EASTERN PLUMAS/EASTERN SIERRA (ZONE),09/04/2019,71,The Walker Fire burned in Genesee Valley in th...,"At the beginning of September, little to no ra...",2005287.0,291020.0,14.512636